<div class="container about-container">
    <button id="dark">Dark</button>

    <h1 class="text-center f3d">About</h1>
    <div class="contain-about m-relative">
        <div data-aos="zoom-out" data-aos-duration="2000">
            <%# <img src="http://127.0.0.1:3000/user_images/me.webp" alt="me"> %>
            <img src="<%= "user_images/me.webp" %>" alt="me">
            <div class="bg-img m-absolute"></div>
            <h3 class="text-center josefinsansBold mt-3 mb-0">Rizky Hermawan</h3>
            <p class="text-center josefinsans mb-0">Web Developer</p>
        </div>
    </div>
    <hr>

    <h1 class="text-center f3d">Skilss</h1>
    <div class="contain-skills">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="in-contain p-2">
                <h3 class="josefinsans text-center my-2">Front-End</h3>
                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/html.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/html.webp "%>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">HTML</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/css.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/css.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">CSS</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/bootstrap.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/bootstrap.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">Bootstrap</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/js.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/js.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">Javascript</p>
                    </div>
                </div>
            </div>

            <div class="in-contain p-2">
                <h3 class="josefinsans text-center my-2">Back-End</h3>
                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/php.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/php.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">PHP</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/laravel.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/laravel.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">Laravel</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/ruby.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/ruby.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">Ruby</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/rails.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/rails.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">Ruby on Rails</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/mysql.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/mysql.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">MySql</p>
                    </div>
                </div>

                <div class="card my-2" data-aos="zoom-out">
                    <div class="card-body d-flex align-items-center p-1">
                        <%# <img src="http://127.0.0.1:3000/user_images/icon/postgre.webp" alt="icon"> %>
                        <img src="<%= "user_images/icon/postgre.webp" %>" alt="icon">
                        <p class="mb-0 px-3 josefinsans">PostgreSql</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>