<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags defer %>

    <%# bootstrap style %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-light fixed-top p-3 shadow">
        <div class="container-fluid">
          <div class="d-flex my-logo align-items-center">
              <img src="<%="user_images/logo-nav.png"%>" alt="logo">
              <a class="navbar-brand p-0 mx-2" href="">
                  <h6 class="josefinsansBold mb-0">Pulih Lebih Cepat<br>Bangkit Lebih Kuat</h6>
              </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">

              <% if @title === 'Home' %>
                <a class="nav-link active josefinsans" aria-current="page" href="/">Home</a>
              <% else %>
                <a class="nav-link josefinsans" aria-current="page" href="/">Home</a>
              <% end %>

              <a class="nav-link josefinsans" data-bs-toggle="modal" data-bs-target="#newcard">New Card</a>

              <% if @title === 'About' %>
                <a class="nav-link active" href="/about">About</a>
              <% else %>
                <a class="nav-link" href="/about">About</a>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <%= yield %>


    <%# modal bootstrap %>
    <div class="modal fade" id="newcard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title josefinsansBold" id="exampleModalLabel">New Card</h5><br>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="notice_form" class="my-3 shadow"></div>
            <%# form %>
            <%= form_tag("/create", {multipart:true}) do %>

            <div class="mb-3">
              <label for="name" class="form-label josefinsans">Nama Pahlawan</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3">
              <label for="imagefile" class="form-label josefinsans">Foto Pahlawan</label>
              <input type="file" class="form-control" id="imagefile" name="image_file">
            </div>

            <div class="mb-3">
              <label for="born" class="form-label josefinsans">Tanggal Lahir Pahlawan</label>
              <input type="date" class="form-control" id="born" style="cursor:pointer" name="born">
            </div>
            
            <div class="mb-3">
              <label for="content" class="form-label josefinsans">Sejarah Singkat Pahlawan</label>
              <textarea class="form-control" id="content_form" name="content"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button id="btn-new" type="submit" class="btn btn-primary">Simpan</button>
          </div>

          <% end %>
          <%# form %>
        </div>
      </div>
  </div>

    <%# jquery %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <%# bootstrap script %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <%# my script %>
    <script src="<%= "js/script.js" %>"></script>

  </body>
</html>
